/* browser resets */
/* body, .heading, .total,.budget-header*/
body,h1, h2 { 
    margin: 0;
}

.main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}
.header {
    background-color: violet;
    height: 50px;

}

.budget-section {
    display: flex;
    flex-direction: column;
    background: beige;
    padding: 10px;
}

.budget-form {
    display: flex;
    flex-direction: column;
}

.entertainment {
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.heading {
    

}

.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;

}

.total {
    background-color: white;
    position: absolute;
    right: 0;
    /* margin: 0; */
}