.entertainment {
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.heading {
    margin: 0;

}

.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;

}

.total {
    background-color: white;
    position: absolute;
    right: 0;
    margin: 0;
}